{% extends "base.html" %}

{% block content %}
    <div class="container" >
        <div class="row" style="padding-top:50px; width: 50%; margin: 0 auto">

            <div class="text-center">

                <div class="list-group list-group-horizontal">
                    <a href="{{ url_for('input') }}" class="list-group-item active">Data
                        Input</a>
                    <a href="{{ url_for('output') }}" class="list-group-item">Data
                        Output</a>
                    <a href="{{ url_for('logout') }}" class="list-group-item">Sign out</a>
                </div>

            </div>

        </div>
        <div class="row" style="padding-top:70px; width: 50%; margin: 0 auto">

            <form id="message" method="post" >
                <p><textarea form="message" placeholder="Enter your message..." name="msg"  rows="5" style="width: 590px"
                             required></textarea>
                </p>
                <p><input type="submit" value="Send" role="button" class="btn btn-lg btn-success"/></p>
            </form>
        </div>

    </div>

{% endblock %}