{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div style="padding-top:50px;width: 50%; margin: 0 auto;">

            <div class="text-center">

                <div class="list-group list-group-horizontal">
                    {% if not user %}
                        <a href="{{ url_for('register') }}" class="list-group-item active">Sign up</a>
                    {% endif %}
                    <a href="{{ url_for('login') }}" class="list-group-item">Sign in</a>
                    <a href="{{ url_for('input') }}" class="list-group-item">Data Input</a>
                    <a href="{{ url_for('output') }}" class="list-group-item">Data Output</a>
                </div>

            </div>

        </div>
    </div>
    <form action="" method="post" class="form-signin" novalidate>
        <h2 class="form-signin-heading">Sign up</h2>

        {{ form.hidden_tag() }}
        <br>
        {{ form.username(size=32, class='form-control', placeholder='Username') }}<br>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <span class="span-error">{{ error }}</span>
            {% endfor %}
            <br>
        {% endif %}
        <br>
        {{ form.email(size=32, class='form-control', placeholder='E-mail') }}<br>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span class="span-error">{{ error }}</span>
            {% endfor %}
            <br>
        {% endif %}
        <br>
        {{ form.password(size=32, class='form-control', placeholder='Password') }}<br>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span class="span-error">{{ error }}</span>
            {% endfor %}
            <br>
        {% endif %}
        <br>
        {{ form.password2(size=32, class='form-control', placeholder='Password again') }}<br>
        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <span class="span-error">{{ error }}</span>
            {% endfor %}
            <br>
        {% endif %}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary btn-block", value='Create an account') }}
    </form>
{% endblock %}